html {
  scroll-behavior: smooth;
}
body{
    background-color:#efeded;
}


a{
    text-decoration: none;
    margin:  10px;
    font-size: 20px;
    text-transform: capitalize;
    color:#27236f;
}
}
nav a{

        flex-flow: row;
        display: flex;
        justify-content: center;

}


button {
    background-color: #F7CA18;
    border-color: #F7CA18;
    width: 300px;
    height:30px;
    border-radius: 10px;
    transition: all 0.15s ease 0s;
}

button:hover {
    background-color: white;
    color: #F7CA18;
     border-color: #F7CA18;
    font-weight: bold;
}


#discount{
    color:red;
    font-size: 20px;
}

#crossed{
    text-decoration: line-through;
}


    .hide {
  display: none;
}
.modal-background {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
  background-color: #fefefe;
  border: 1px solid #7c1f17;
  margin: 1em;
  padding: 2em;
}
    h2{
        color:white;
        text-align: center;
        font-family: bahnschrift;
        text-transform: capitalize;
    }

    .text{
        padding-left:20px;

    }



    .opacity{
        opacity: 10%;
    }




@media screen and (min-width: 900px) {
     main{

        grid-area: main;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

      .background{
        background-color:#27236f;
        border-radius: 12px;
        width:600px;
        height: 9450px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 200;
        margin-top: 280px;
        box-shadow: 4px 2px 22px #333333;
        padding: 40px;

    }
     .template{
        background-color: white;
        width:650px;
        height:270px;
        border-radius: 12px;
        opacity: 95%;
        padding: 10px;
       display: flex;
        margin-bottom:50px;

    }
        .headpicture{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;

    }
    nav{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

    }

    #wrapper{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 200;
    }
     header{
        grid-area: header;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;

    }
     .image{
        max-width: 50%;
        height:auto;

    }
}




@media screen and (max-width: 600px) {
    #wrapper{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 200;
    }
     header{
        grid-area: header;
        display: grid;
        grid-template-columns: 1fr ;

    }
    main{

        grid-area: main;
        display: grid;
        grid-template-columns: 1fr
    }
      .background{
        background-color:#27236f;
        border-radius: 12px;
        width:400px;
        height: 9770px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 200;
        margin-top: 280px;
        box-shadow: 4px 2px 22px #333333;
        padding: 40px;

    }
      .headpicture{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
           max-width: 10%;

    }
    .template{
        background-color: white;
        width:400px;
        height:285px;
        border-radius: 12px;
        opacity: 95%;
        padding: 10px;
       display: flex;
        margin-bottom:50px;

    }

    .image{
        max-width: 50%;
        max-height: 50%;
      display: block;
    padding-top: 15%;

    }
    #discount{
    color:red;
    font-size: 18px;
}
    button {
    width: 100px;

}
}
