body{
    background-color:#efeded;
}

.headpicture{
        text-align: center;
    }
.active{
    text-decoration: underline #27236f;

}
ul{
     list-style-type: none;
        flex-flow: row;
        display: flex;
        justify-content: center;

}
.readmore{
    text-decoration: underline;
}

li{
     margin:  10px;
}

.sale{
    text-decoration: line-through;
}

@media only screen and (min-width:900px){
    body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-areas: "header header header"
            "main main main"
            "footer footer footer ";

}
     header{
        grid-area: header;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;

    }

     main{

        grid-area: main;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
    }
      .background{
        background-color:#27236f;
        border-radius: 12px;
        width:600px;
        height: 700px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 200;
        margin-top: 280px;
        box-shadow: 4px 2px 22px #333333;
        padding: 40px;

    }
     .template{
        background-color: white;
        width:650px;
        height:250px;
        border-radius: 12px;
        opacity: 95%;
        padding: 10px;
       display: flex;

    }
     .template2{
        background-color: white;
        width:650px;
        height:250px;
        border-radius: 12px;
        opacity: 95%;
        padding: 10px;
        margin-top: 70px;

    }

    .hidden{
      visibility: hidden;
    }
    .hidden.show{
        animation: show 1s forwards;

    }
    @keyframes show{
        to{
         visibility: visible;
        background-color: white;
        box-shadow: 4px 2px 22px #333333;


        }
    }



    .saletag{

        padding-bottom: 600px;
    }
    button{
        width:100px;
    }
    .headpicture{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    nav{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

    }
    .cabanossi{
       display:inline-block;

}
@media only screen and (max-width:600px){
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "header"
            "main"
            "footer";
        padding: 20px;

    }
}
